<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Weather</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/weather/LWX"  routerLinkActive="active">Columbia Forecast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/weather/TOP" routerLinkActive="active">Kansas Forecast</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
